{% extends 'template.html' %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <i class="fas fa-cloud-sun-rain"></i>
      </a>
      <a class="navbar-brand" href="home">Weather Now</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          
          
            <a class="nav-link" href="#">Link</a>
          
          
          
            <a class="nav-link disabled">Disabled</a>
            <a class="nav-link ms-auto">Login</a>
          
        
        
      </div>
    </div>
  </nav>



{% endblock content %}

